h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1em;
  }
  
  form {
    background: #f9f9f9;
    padding: 2em;
    border-radius: 4px;
    max-width: 600px;
    margin: 1em auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  form div {
    margin-bottom: 1em;
  }
  
  form label {
    display: block;
    margin-bottom: .5em;
    color: #333;
  }
  
  form input[type="text"],
  form input[type="number"],
  form input[type="file"] {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form button {
    padding: 10px 15px;
    background-color: #0090c5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 0.5em;
  }
  
  form button:hover {
    background-color: #007ba7;
  }
  
  form button:last-of-type {
    background-color: #cccccc;
  }
  
  form button:last-of-type:hover {
    background-color: #bbbbbb;
  }
  
  @media (max-width: 736px) {
    form {
      padding: 1em;
    }
  
    form input[type="text"],
    form input[type="number"],
    form input[type="file"] {
      width: calc(100% - 20px);
    }
  }
  